#scroll-content
	.page#event_stream
		%ul.account-stream.first-element#list
			- for post in current_user_stream.posts do
				= render :partial => "posts/#{post._type.underscore}", :locals => {:post => post}
	.postbar.postbar-fixed-bottom
		.postbar-inner
			.container
				= form_for :post, :url => user_post_path, :class => 'form-horizontal', :id => "text_post_form", :remote => true, :style => 'margin-top:7px' do |f|
					.input-append(style="margin-top:7px")
						= f.text_field :body, {:size => "16", :type => "text", :style => 'width:145px'}
						= f.submit "Post", :onclick => '$("form input[type=\"text\"]").val("");', :style => 'margin-left:-5px; margin-top:-8px; color: #ffffff;', :class => 'btn btn-hot'
						%button.btn.btn-info{:type => "button", :style => 'margin-left:-3px;margin-top:-8px'}
							%strong Share
							%i.icon-share-alt.icon-white
