!!! 5
%html(lang="en")
	%head
		%title= content_for?(:title) ? yield(:title) : "TillDawn"
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="apple-mobile-web-app-status-bar-style" content="black")
		
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
			= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
		= stylesheet_link_tag "application", :media => "all"
		
		-#apple icons
		%link{:rel => "shortcut icon", :href => "favicon.ico"} 
		%link{:rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 163dpi)", :href => "apple-touch-icon.png"}
		%link{:rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 132dpi)", :sizes => "72x72", :href => "apple-touch-icon-72x72-precomposed.png"}
		%link{:rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 326dpi)", :sizes => "114x114", :href => "apple-touch-icon-114x114-precomposed.png"}
		%link{:rel => "apple-touch-startup-image", :href => "app-startup-320x460.png", :media => "screen and (max-device-width: 320px)"}

		%body
			#main_navigation.navbar.navbar-fixed-top
				.navbar-inner
					.container
						%a.brand(href="#") TillDawn
						%ul.nav
							%li.private-stream.active
								%a.page_link#private_stream_link(href="#private_stream") Private Stream
							%li.public-stream
								%a.page_link#public_stream_link(href="#public_stream") Public Stream 
							%li.event-stream
								%a.page_link#event_stream_link(href="#event_stream") Event Stream
						%a.login
							= image_tag( 'dummy/users/1.jpg', :class => 'user-thumb')
			
			#scroll-content
				.page#event_stream
					%ul.account-stream.first-element
						%li.num 2 Total Events
						%li.event{:style => "margin-bottom: 20px;"}
							%a(href="#")
								%section.account-event-info
									%i.map-marker
									%h4.event-name Tommy Doyle's
									%p.check-in 
										%i.icon-ok
										April 17<br />11:14pm
									%p.location Cambridge, MA
									%aside
										%strong 7
										%br 
										%i Photos
									%hr
								.account-event-images
									= image_tag( 'dummy/events/6b.jpg')
									= image_tag( 'dummy/events/7.jpg')
									= image_tag( 'dummy/events/8.jpg')
									= image_tag( 'dummy/events/9.jpg')
									= image_tag( 'dummy/events/10.jpg')
						%li.event
							%a(href="#")
								%section.account-event-info
									%i.map-marker
									%h4.event-name Phoenix Night Club
									%p.check-in 
										%i.icon-ok
										April 8<br />11:37pm
									%p.location New York, NY
									%aside
										%strong 21
										%br 
										%i Photos
									%hr
								.account-event-images
									= image_tag( 'dummy/events/1.jpg')
									= image_tag( 'dummy/events/2.jpg')
									= image_tag( 'dummy/events/3.jpg')
									= image_tag( 'dummy/events/4.jpg')
									= image_tag( 'dummy/events/5.jpg')
							
			.postbar.postbar-fixed-bottom
				.postbar-inner
					.container
						%form.form-horizontal{:style => 'margin-top:7px'}
							.input-append
								%input{:size => "16", :type => "text", :style => 'width:155px'}
								%button.btn.btn-hot{:type => "button"}
									%i.icon-comment.icon-white
								%button.btn.btn-info{:type => "button"}
									%strong Share
									%i.icon-share-alt.icon-white
		
			
		-# Placed at the end of the document so the pages load faster
		= javascript_include_tag "application"
