!!! 5
%html(lang="en")
	%head
		%title= content_for?(:title) ? yield(:title) : "TillDawn"
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		-#%meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')= csrf_meta_tags
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
			= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
		= stylesheet_link_tag "application", :media => "all"
		
		%link(href="favicon.ico" rel="shortcut icon")
		%link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
		%link(href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" sizes="72x72")
		%link(href="apple-touch-icon-114x114precomposed.png" rel="apple-touch-icon" sizes="114x114")
		
		%body
			.navbar.navbar-fixed-top
				.navbar-inner
					.container
						%a.brand(href="#") TillDawn
						%ul.nav
							%li.nearby-playlists.active
								%a.page_link#parties_link(href="#parties_wrapper") Nearby Parties 
							%li.nearby-playlists
								%a.page_link#parties_link(href="#parties_wrapper") Nearby Parties 
							%li.new-playlist
								%a.page_link#search_tracks_link(href="#search_wrapper") Search Songs
						%a.login
							= image_tag( 'dummy/users/1.jpg', :class => 'user-thumb')
			
			%footer
				%p &copy; Company 2012
			
		-# Placed at the end of the document so the pages load faster
		= javascript_include_tag "application"
